body{
    width: 100vw;
    margin: 0px;
    background-color: #1c1c1c;
}

/* REGLAS DEL HEADER */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 50px;
    border: 0%;
    background-color: #1c1c1c;
    justify-content: space-between;
}

.headerIzquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.headerDerecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    height: 90%;
    margin-right: 1%;
}

.nombrepagina{
    text-decoration: none;
}

.linksHeader{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logoheader{
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    justify-self: flex-start;
}

h2{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.linkfavoritos{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-color: #2C5364;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.linkgeneros{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-color: #2C5364;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.inputbusqueda{
    background-color: white;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;

}

.submitbtn{
    background-color:#2C5364;
    color: white;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;
}

/* REGLAS DEL FOOTER */
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1c1c1c;
    padding-top: 1%;
    padding-bottom: 10px;
}

.nuestrosnombres{
    font-family: 'Work Sans', sans-serif;
    align-self: flex-end;
    color: white;
    margin: 0px;
    margin-right: 1%;
}
.logofooter{
    align-self: flex-end;
    height: 30px;
    margin-bottom: 0%;
    margin-right: 1%;
}

/* REGLAS DEL MAIN */
main{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

h1{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 80px;
    margin-left: 30px;
}


h3{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;

}

.seccionPeliSerie{
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #1c1c1c88;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.seccionPeliSerieReducida{
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #1c1c1c88;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.peliOSerie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    align-items: center;
}

.linkadetalle{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color: #2C5364;
    padding: 3px;
    border-radius: 10px;
    width: 60%;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin: 10px;
}

.peliOSerieReducido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    margin-right: 30px;
}

.tapapelicula{
    height: 85%;
    border-radius: 10px;
}




/* Reglas de detalle */
.titulo{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 10px;
}

.contenido_principal{
    display: flex;
    flex-wrap: wrap;
}

.texto_arriba_foto{
    display: flex;
    flex-direction: row;
}

.imagen_detalle{
    height: 350px;
    flex-direction: column;
}

.poster_titanic{
    height: 100%;
}

.trailer_detalle{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    height: 350px;
    width: 588px;
}

.trailer_titanic{
    height: 100%;
    width: 100%;
}

.texto_abajo_foto{
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: space-between;
}

.descripcion_detalle{
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    margin-top: 3px;
    margin-bottom: 8px;
}
/*esto es styles */

.texto_foto{
    color: white;
}
.tapepelicula{
    color: white;
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}
.peliculasfav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    width: 90%;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.pelicula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
}

.tapeserie{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
}
.texto_fondo2{
    color: white;
}
.seriesfav{
    display: flex;
    color: white;
    height: 300px;
    justify-content: space-around;
}


.textobusqueda{
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
}

.haBuscado{
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}

/* Reglas de generos */
.formato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hijoFormato{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c91;
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.listaformato{
    color: white;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}